:80 {
	log {
		output stdout
	}
	encode gzip zstd

	handle /health {
		respond 200
	}

	@api path /api/*
	handle @api {
		uri strip_prefix /api
		reverse_proxy server:8085
	}

	handle {
		reverse_proxy client:3000
	}
}
